body {
    background-image: linear-gradient(to top, #000000, #326a74);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh; /* porcentagem da altura total da janela */
    font-size: 20px;
    font-family: Georgia, Bodoni, "Times New Roman";

 
}

.circulo {
    position: absolute;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, transparent, rgba(255, 255, 255, 0.22), white);
    background-position: center;
    background-size: cover;
    border: 2px solid #ffffff;
    box-shadow: 5px 5px 50px rgb(50, 50, 50), -5px -5px 50px white;
}

.circulo1 {
    top: 20px;
    left: 20px;
    width: 300px;
    height: 300px;
}

.circulo2 {
    bottom: 50px;
    right: 660px;
    width: 250px;
    height: 250px;
}

.circulo3 {
    bottom: 480px;
    right: 260px;
    width: 150px;
    height: 150px;
}

.circulo4 {
    bottom: 80px;
    right: 60px;
    width: 300px;
    height: 300px;
}

.login-box {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 450px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #1d1d1d,  white);
    box-shadow: -5px 5px 8px #000000;
}

.esquerda-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(290px - 20px);
    top: 150px;
    border: 1px solid black;
    box-sizing: border-box;
}

.direita-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    top: 150px;
    font-size: 18px;
    width: 50%;
    height: calc(290px - 20px);
    left: 50%;
    word-wrap: break-word; /*quebra de texto automatica*/
    padding: 20px;
    box-sizing: border-box;
}

.titulo {
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 90px; 
    left: 50%;
    transform: translateX(-50%);  
}

div.login-box input {
    position: relative;
    height: 35px;
    width: auto;
    padding: 0; 
    margin: 0 20px 20px 20px;
    padding-left: 3px;
    background-color: #111111;
    color: rgb(215, 215, 215);
    border: none;
    outline: none;
}

div.login-box p {
    position: relative;
    margin: 0 20px 10px 20px;
    padding: 0;
    font-size: 15px;
}

.divisor-vertical {
    position: absolute;
    width: 2px;
    height: auto;
    left: 50%;
    background-color: black;
    top: 140px;
    bottom: 20px;
}

.login-box button {
    position: relative;
    width: 100px;
    height: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, black, rgb(39, 39, 39));
    color: rgb(121, 121, 121);
    font-weight: bold;
}

