body {
    background-image: linear-gradient(to top, #000000, #5bbed0);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh; /* porcentagem da altura total da janela */
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.circulo {
    position: absolute;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, transparent, rgba(255, 255, 255, 0.22), white);
    background-position: center;
    background-size: cover;
    border: 2px solid #ffffff;
}

.circulo1 {
    top: 20px;
    left: 20px;
    width: 300px;
    height: 300px;
}

.circulo2 {
    bottom: 50px;
    right: 660px;
    width: 250px;
    height: 250px;
}

.circulo3 {
    bottom: 480px;
    right: 260px;
    width: 150px;
    height: 150px;
}

.circulo4 {
    bottom: 80px;
    right: 60px;
    width: 300px;
    height: 300px;
}

.login-box {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, #1d1d1d,  white);
    box-shadow: -5px 5px 8px #000000;
}

.titulo {
    font-weight: bold;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 90px;   
}

div.login-box > input {
    height: 20px;
    width: 330px;
    border-radius: 8px;
    padding: 0; 
    margin: 0 10px 10px 10px;   
}

div.login-box > label {
    position: relative;
    left: -50%;
    transform: translatex(50%);
    margin-left: 10px;
}