







/* keyframes */
/* media queries */
/* unidades de medida */
/* variaveis */
/* transicoes */
/* import de fontes e etc */
/* propriedades basicas e seus significados */

/* animacao de itens */
/* 
transition - propriedade que sera animada tempo de duracao da animacao curva de velocidade 
tipos de velocidades
ease: Começa devagar, acelera no meio e desacelera no final
linear: A transição ocorre com uma taxa de mudança constante ao longo do tempo
ease-in: Começa devagar e acelera no final
ease-out: Começa rapidamente e desacelera no final
ease-in-out: Começa devagar, acelera no meio e desacelera no final - transicao uniforme e suave do iicio ao fim
*/

.item {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to top, #000000, #76b0eb); /* fundo com degrade - direcao, cor inicial, cor final */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    transition: transform 0.3s ease; /* transition - define o tipo de transicao para o elemento depois que sera animado */
}


/* backgroud */

.fundo {
    background-color: #ee80c7; /* cor de fundo */
    background-image: url("url da imagem"); 
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda o fundo */
    background-position: center;
    background-image: linear-gradient(to top, #303030, #ee81e8); /* fundo com degrade */
    display: flex;
    flex-direction: column;
    align-items: center;
}
