/* comentario */

/* folha de estilo externa - arquivo CSS separado e vinculado a um documento HTML usando a tag <link> no <head> - melhor organizacao e manutencao */

/* seletor - usados para selecionar os elementos HTML aos quais voce deseja aplicar estilos */

p {
    color: blue; /* propriedade - aspecto: valor; */
}

/* classe - .nome-da-classe */
/* usada em elementos especificos no HTML para uma estilizacao */

.destaque {
    font-weight: bold;
}

/* id - #nome */
/* usada em um elemento especifico no HTML para uma estilizacao */

#aumento {
    font-size: 34px;
}

/* 
box model - descreve como os elementos HTML são renderizados em relacao ao seu conteudo, preenchimento, borda e margens 
padding - espaco entre o contudo e a borda
border - linha que circunda a caixa de conteudo e seu preenchimento
margin - espaco entre a borda do elemento e outros elementos ao redor - margin: supinf laterais ou margin: todososlados
*/

div {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid black;
    margin: 10px;
}

/* seletores avancados */

/* 
seletor de filho 
estiliza seletivamente os elementos que sao filhos de um elemento pai especifico - pai > filho 
nesse caso, os elementos <li> serao estilizados se forem filhos de um elemento <ul>
*/

ul > li {
    color: rgb(2, 2, 30);
}

/* 
seletor de adjacente 
estiliza os elementos cujo ha um outro elemento imediatamente anterior a ele - anterior + estilizado
nesse caso, o elemento <p> sera estilizado somente se antes dele tiver um <h2>
*/

h2 + p {
    font-weight: bold;
}

/* 
seletor de irmãos gerais 
estiliza os elementos que possuem o mesmo elemento pai que outro elemento - irmao ~ estilizado
nesse caso, o elemento <p> sera estilizado somente se tiver o mesmo elemento pai que algum elemento <h2>
*/

h2 ~ p {
    font-style: italic;
}

/* flexbox - display: flex */

/* torna mais facil alinhar elementos dentro de um conteiner, seja em linha ou coluna */

.container-flex {
    width: min-content;
    display: flex;
    flex-direction: column; /* direcao dos itens */
    justify-content: center; /* Centraliza os itens na linha vertical */ 
    align-items: center; /* Centraliza os itens na linha horizontal */
}

/* grid - display: grid */

/* permite dividir o espaco de uma pagina em uma grade de linhas e colunas, facilitando o posicionamento de elementos */

.container-grid {
    width: 500px;
    height: 300px;
    place-items: center;
    display: grid;
    grid-template-rows: 150px 150px; /* duas linhas com 150px de altura cada */
    grid-template-columns: 1fr 1fr 1fr; /* tres colunas com larguras iguais - fr = quantidade de partes de largura do conteiner que a coluna ocupa */
    grid-gap: 20px; /* Espaçamento entre as células */
    margin: 0 auto; /* auto faz com a margem lateral seja igual para esquerda e direita, centralizando o conteiner em seu conteiner pai */
}

/* animacao de itens */
/* 
transition - propriedade que sera animada tempo de duracao da animacao curva de velocidade 
tipos de velocidades
ease: Começa devagar, acelera no meio e desacelera no final
linear: A transição ocorre com uma taxa de mudança constante ao longo do tempo
ease-in: Começa devagar e acelera no final
ease-out: Começa rapidamente e desacelera no final
ease-in-out: Começa devagar, acelera no meio e desacelera no final - transicao uniforme e suave do iicio ao fim
*/

.item {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to top, #000000, #76b0eb); /* fundo com degrade - direcao, cor inicial, cor final */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    transition: transform 0.3s ease; /* transition - define o tipo de transicao para o elemento depois que sera animado */
}

/* 
pseudoclasses - especificam um estado especial do elemento selecionado
active - aplica estilos quando o elemento esta ativamente selecionado, geralmente quando o botao do mouse e pressionado
hover - aplica estilos quando o mouse passar sobre o elemento
focus - aplica estilos quando o elemento esta em foco, geralmente apos ser selecionado com o teclado ou o mouse
*/

.item:hover {
    transform: translateY(-10px); /* Move o item para cima ao passar o mouse sobre ele */
}

/* backgroud */

.fundo {
    background-color: #ee80c7; /* cor de fundo */
    background-image: url("url da imagem"); 
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda o fundo */
    background-position: center;
    background-image: linear-gradient(to top, #303030, #ee81e8); /* fundo com degrade */
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* nav - conjunto de links de navegacao */

.barra-nav {
    width: 700px;
    height: 60px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 40px;
}

/* os links que forem filhos de uma nav com a classe barra-nav */

nav.barra-nav > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100px;
    height: 45px;
    font-weight: bold;
    border-radius: 10px;
    color: #000000;
    margin: 10px;
    text-decoration: none;
    transition: font-size 0.5s ease;
}

nav.barra-nav > a:hover {
    background-color: #8eb7df;
    font-size: 35px;
}